<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="card card-body bg-dark text-white">
            <h3>Sistema de cadastro de funcionários</h3>
            <p>Página inicial</p>
        </div>
        <hr />
        <br />
        <a href="/Funcionario/Cadastro">Cadastrar funcionário</a>
        <br />
        <a href="/Funcionario/Consulta">Consultar funcionário</a>
    </div>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
